<!DOCTYPE html>
<html>
<head>
  <title>Inventory Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-image: url('/css/pics/bg/header-bg.jpg'); background-size: cover; background-repeat: no-repeat;">
    <a class="navbar-brand" href="https://tau-technologies.com">
     Tau-Technologies:  Inventory Demo |
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/inventory_items">Items <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--<div class="container">
  <div class="alert alert-warning my-3" role="alert">
    <strong>Attention!</strong> This is a test server. The database is reset every hour.
  </div>
</div>-->
<div class="container">
  <%= yield %>
</div>
</html>
